<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<div th:replace="base :: navlinks"></div>
<h4>New User Registration</h4>
<form autocomplete="off"
      action="#"
      th:action="@{/register}"
      th:object="${user}" method="post">
    First Name: <mark><strong>
    <span th:if="${#fields.hasErrors('firstname')}"
          th:errors="*{firstname}">First Name Error</span></strong></mark>
    <input type="text" id="firstname" placeholder="First Name"
           th:field="*{firstname}" /><br />

    Last Name: <mark><strong>
    <span th:if="${#fields.hasErrors('lastname')}"
          th:errors="*{lastname}">Last Name Error</span></strong></mark>
    <input type="text" id="lastname" placeholder="Last Name"
           th:field="*{lastname}" /><br />

    Email: <mark><strong>
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">Email Error</span></strong></mark>
    <input type="text" id="email" placeholder="Email"
           th:field="*{email}" /><br />

    Username: <mark><strong>
    <span th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Username Error</span></strong></mark>
    <input type="text" id="username" placeholder="Username"
           th:field="*{username}" /><br />

    Password: <mark><strong>
    <span th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Password Error</span></strong></mark>
    <input type="password" id="password" placeholder="Password"
           th:field="*{password}" /><br />

    <button type="submit" class="btn btn-default">Submit</button>

</form>

</body>
</html>